.DS_Store
.idea/Codewars_solutions.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
javascript_solutions/style.css
python_solutions/codewars_testing.py
