body {
	font-family: Arial, sans-serif;
	margin: 2em;
	max-width: 700px;
	background-color: #f5f5f5;
}

.note {
	background-color: #ffffff;
	border: 1px solid #ddd;
	border-radius: 4px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	padding: 1.5em;
	margin-bottom: 1em;
	line-height: 1.5;
	min-height: 250px;
	font-size: 16px;
	/* This is needed to preserve line breaks in the div */
	white-space: pre-wrap;
}

.note[contenteditable='true'] {
	caret-color: black;
}

.note:hover {
	background-color: #fff;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.helper-text {
	font-size: 0.9rem;
	color: #666;
	margin-top: 0.5em;
	user-select: none;
	font-style: italic;
}

#status {
	color: #00471b;
	padding: 0 1em;
}
