.title {
	font-family: Arial, Helvetica, sans-serif;
}

.gallery {
	display: flex;
	flex-direction: row;
	border: 1px double green;
	gap: 10px;
	width: 100%;
}

.gallery img {
	width: 100%;
}

.lightbox {
	position: fixed;
	display: none;
	background: oklch(0.7 0.1 348 / 24.5%);
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#lightbox-image {
	max-width: 90%;
	max-height: 90%;
	object-fit: contain;
}

#close-btn {
	position: absolute;
	top: 20px;
	right: 20px;
	background: none;
	border: none;
	font-size: 36px;
	cursor: pointer;
	color: white;
	z-index: 10;
}
